/* Hero */
.hero-section{
    background-color:rgba(5, 131, 146, 0.4);
    height: 812px;
    background-image: url("/img/hero/hero-mob.png"), url("/img/hero/vector-mob.png"), url("/img/hero/straws-mob.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, contain;
    background-position: top 250px center, top 430px center, bottom 10px center;
}
.hero-title{
    font-family: "Poppins", sans-serif;
font-weight: 800;
font-size: 44px;
line-height: 1.1;
letter-spacing: -0.04em;
text-align: center;
color: #09344e;
text-shadow:
0 3px 4px rgba(255, 255, 255, 0.9),
0 0 2px rgba(255, 255, 255, 0.9),
1px 1px 0 rgba(255, 255, 255, 0.9),
-1px 1px 0 rgba(255, 255, 255, 0.9);
margin-bottom: 16px;
}
.hero-first-text{
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 26px;
line-height: 1.2;
letter-spacing: -0.02em;
text-align: center;
color: #d4d4d2;
text-shadow: 0 2px 4px 0 rgba(9, 52, 78, 0.6);
text-shadow:
  -2px -2px 0 #09344e,
   2px -2px 0 #09344e,
  -2px  2px 0 #09344e,
   2px  2px 0 #09344e,
  0px  2px 0 #09344e,
  2px  0px 0 #09344e,
  0px -2px 0 #09344e,
 -2px  0px 0 #09344e;
 margin-bottom: 250px;
}
.hero-second-text{
    font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 20px;
line-height: 1.2;
text-align: center;
color: #d4d4d2;
margin-bottom: 36px;
}
.hero-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.02em;
text-align: center;
color: #09344e;
}
@media only screen and (min-width: 1439px) {
    .hero-section{
        background-color:rgba(5, 131, 146, 0.4);
        height: 860px;
        background-image: url("/img/hero/straws-desk.png"), url("/img/hero/vector-desk.png"),url("/img/hero/hero-desk.png");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size:  448px 56px, 430px 241px, cover;
        background-position: bottom 110px right, bottom 110px left 80px, top center;
    }  
.hero-title{
    font-size: 64px;
    margin-bottom: 10px;
    margin-top: 70px;
    }
    .hero-first-text{
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    margin-bottom: 320px;
    }
    .hero-second-text{
    font-size: 21px;
    line-height: 1.2;
    text-align: left;
    margin-bottom:0;
    width: 350px;
    margin-left: 30px;
    }
    .hero-text-wrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
    font-size: 16px;
    width: 380px;
   height: 160px;
   margin-right: 0;
   margin-left: auto;
   margin-top: -120px;
    }
}
/* Our Philosophy */
.philosophy-title{
    padding-bottom: 10px;
    border-bottom: 2px solid #058392;
width: 343px;
margin-bottom: 24px;
}
.philosophy-wrapper{
    width: 343px;
height: 80px;
display: flex;
gap: 16px;
align-items: center;
margin-bottom: 24px;
}
.philosophy-img-quote{
    width: 80px;
    height: 80px;
}
.wrapper-text-philosophy{
    font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 20px;
line-height: 1.2;
color: #222;
}
.philosophy-list{
    margin-top: 24px;
}
.philosophy-subtitle{
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 1.5;
color: #058392;
}
.philosophy-text{
    font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: #222;
margin-bottom: 24px;
}
.philosophy-text:last-child{
    margin-bottom: 0;
}
@media only screen and (min-width: 1439px) {
    .philosophy-section{
background-image: url("/img/line.png");
background-repeat: no-repeat;
background-size: 841px;
background-position: top 140px left;
    }
    .philosophy-title{
    width: 841px;
    border-bottom: none;
    margin-bottom: 24px;
    } 
    .philosophy-wrapper{
        width: 507px;
    height: 80px;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: 760px;
    margin-bottom: 28px;
    margin-top: -84px;
    }
    .philosophy-img-quote{
        width: 80px;
        height: 80px;
    }
    .wrapper-text-philosophy{
    font-size: 24px;
    }  
    .philosophy-list{
        margin-top: -314px;
        margin-left: 450px;
    }
}
/* Creative Learning Programs */
.creative-section{
    background: #a4c6ca;
    background-image: url("/img/creative/vector-pink-mob.png");
    background-repeat: no-repeat;
    background-position: top 150px center;
    background-size: contain;
}
.creative-title{
    padding-bottom: 10px;
    border-bottom: 2px solid #058392;
width: 343px;
margin-bottom: 60px; 
}
.pink-text-creative{
    width: 293px;
    text-align: center;
    margin-bottom: 60px;
    margin-left: 20px;
}
.creative-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.creative-item{
    display: flex;
    flex-direction: column;
    gap: 16px; 
}
.creative-subtitle{
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 28px;
line-height: 1;
letter-spacing: -0.02em;
color: #823c90;
}
@media only screen and (min-width: 1439px) {
    .creative-section{
        background: #a4c6ca;
        background-image: url("/img/line.png"), url("/img/creative/vector-pink-mob.png");
        background-repeat: no-repeat, no-repeat;
        background-position:top 140px left, top 80px left 842px;
        background-size: 841px, 519px 125px;
    } 
.creative-title {
    padding-bottom: 10px;
    border-bottom: none;
width: 841px;
margin-bottom: 0;    
}
.pink-text-creative{
    width: 384px;
    text-align: left;
    margin-bottom: 60px;
    margin-left: 870px;
    margin-top: -24px;
}
.creative-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 54px;
}
.creative-item{
    display: flex;
    flex-direction: column;
    gap: 16px; 
    width: 380px;
height: 350px;
}
.creative-subtitle{
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 28px;
line-height: 1;
letter-spacing: -0.02em;
color: #823c90;
}
}
/* Talent Discovery & Growth */
.talent-section{
    background-image: url("/img/talent/orange-mob.png");
    background-repeat: no-repeat;
    background-position: top 140px center;
    background-size:contain;
}
.talent-title{
    padding-bottom: 10px;
    border-bottom: 2px solid #058392;
width: 343px;
margin-bottom: 85px;   
}
.orange-text{
    width: 275px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 65px;
}
.talent-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}
.talent-item{
    display: flex;
    gap: 8px;
    align-items: center;
}
.number-talent-text{
    font-family: "Poppins", sans-serif;
font-weight: 275;
font-size: 52px;
line-height: 1;
text-align: center;
color: #222;
width: 68px;
height: 68px;
}
.talent-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 267px;
}
.talent-subtitle{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: #058392;
    width: 267px;
}
.talent-text{
    font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 1.4;
color: #222;
}
@media only screen and (min-width: 1439px) {
    .talent-section{
        background-image: url("/img/line.png"), url("/img/talent/orange-desk.png");
        background-repeat: no-repeat, no-repeat;
        background-position: top 140px left, top 60px right 80px;
        background-size:841px, 404px 242px;
    } 
    .talent-title{
        border-bottom: none;
    width: 841px;
    margin-bottom: 85px;   
    }
    .talent-br{
        display: none;
    }
    .orange-text{
        width: 237px;
        font-size: 24px;
       text-align: left;
       margin-left: auto;
       margin-right:45px;
       margin-bottom: 0;
       margin-top: -80px;
    }
    .talent-list{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 0;
        margin-top: -80px;
    }
    .number-talent-text{
    font-size: 72px;
    }
    .talent-text-wrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 789px;
    }
    .talent-subtitle{
        width: 789px;
    }
.talent-img{
    margin-right: 0;
    margin-left: auto;
    margin-top: -260px;
}
}
/* Parent & Child Testimonials */
.child-section{
    background-color: #a4c6ca;
    background-image: url("/img/child/purple-mob.png");
    background-position: top 138px right;
    background-repeat: no-repeat;
    background-size: 320px 126px;
}
.child-title{
    padding-bottom: 10px;
    border-bottom: 2px solid #058392;
    width: 343px;
    margin-bottom: 30px;     
}
.child-img-quote{
    width: 80px;
    height: 80px;
   }
   .purple-text{
    width: 243px;
    margin-left: 90px;
    margin-top: -65px;
    margin-bottom: 52px;
   }
   .custom-navigation{
    display: none;
   }
   .child-comment{
    font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 1.4;
color: #222;
width: 273px;
   }
   .child-author{
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: -0.02em;
color: #222;
width: 273px;
margin-top: 8px;
   }
   .pag_container {
    margin-top: 24px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 16px;
    background-color:#d4d4d2;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    border:inherit;
  }  
  .pag_bar {
    width: 50px;
    height: 100%;
    background-color: #058392;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease-in-out;
  }
  @media only screen and (min-width: 1439px) {
    .child-section{
         background-image: url("/img/line.png"), url("/img/child/purple-desk.png");
        background-position:top 140px left, top 50px right 80px;
        background-repeat: no-repeat,no-repeat;
        background-size:841px, 409px 139px;
    }
    .child-title{
        padding-bottom: 10px;
        border-bottom:none;
        width: 841px;
        margin-bottom: 0;     
    } 
    .child-img-quote{
        width: 80px;
        height: 80px;
        margin-left: 830px;
        margin-top: -80px;
       }
       .purple-text{
        width: 315px;
        font-size: 20px;
        margin-left: 930px;
        margin-bottom: 39px;
       }
    .child-swiper{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;    
    }
   
 
    .child-container{
        position: relative;
    }
      .custom-navigation{
        display: flex;
        justify-content: space-between;
       position: absolute;
       z-index: 1000;
          }
    .custom-arrow{
        border-radius: 100px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: rgba(212, 212, 210, 0.7);
        border:none;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.custom-arrow:hover,
.custom-arrow:active{
    background-color:  #d4d4d2;
}
.custom-prev{
    position: absolute;  
    top: 30px; 
}
.custom-next{
    transform: rotate(180deg);
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 1220px;
    top: 30px;
}
.pag_container{
    display: none;
}
.child-comment{
width: 333px;
   }
   .child-author{
width: 333px;
margin-top: 8px;
   }
  }