@import url('./reset.css');
@import url('./base.css');
@import url('./footer.css');
@import url('./container.css');

.button-policy {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #222;
    border: none;
    background-color: inherit;
    margin-bottom: 24px;
    gap: 12px;
}
.terms-title {
    padding-bottom: 10px;
    border-bottom: 2px solid #058392;
    width: 343px;
    margin-bottom: 24px;
}
.terms-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    margin-bottom: 20px;
}
.terms-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;
    color: #058392;
    margin-bottom: 16px;
}
.terms-ruls-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.5;
    color: #222;
    margin-bottom: 16px;
}
.list-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
}
.terms-list {
    list-style-type: disc;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
}
.list-with-margin {
    margin-bottom: 16px;
}
.terms-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
@media only screen and (min-width: 1439px) {
    .terms-container {
        padding: 56px 189px 40px;
    }
        .terms-title {
            padding-bottom: 10px;
            border-bottom: 2px solid #058392;
            width: 841px;
            margin-bottom: 40px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
}